@tailwind base;
@tailwind components;
@tailwind utilities;


.itemWithReverseBorder:hover::before,
.itemWithReverseBorder:hover::after {
  content: "";
  position: absolute;
  width: 10px; 
  height: 20px; 
  background-color: #E1ECEB;
}

.itemWithReverseBorder:hover::before {
  top: -30px; 
  right: 0;
  border-top-left-radius: 30px;
}

.itemWithReverseBorder:hover::after {
  bottom: -30px; 
  right: 0;
  border-bottom-left-radius: 30px; 
}